<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="D:\Akash Development\2021\dot net 5\StudyOnline\StudyOnlineAPI\StudyOnlineAPI\LogFiles\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>


  <!--store log for text file-->

  <targets>
    <target xsi:type="File" name="fileTarget"
            fileName="D:\Akash Development\2021\dot net 5\StudyOnline\StudyOnlineAPI\StudyOnlineAPI\LogFiles\${shortdate} Log.log"
            layout="${longdate} ${gdc:item=Author} ${uppercase:${level}} ${callsite} ${message} |url: ${aspnet-request-url}|action: ${aspnet-mvc-action}| body: ${aspnet-request-posted-body} ${newline}">

      <!--store log for csv file-->

    </target>
    <target name="logfileCSV" xsi:type="File" fileName="D:\Akash Development\2021\dot net 5\StudyOnline\StudyOnlineAPI\StudyOnlineAPI\LogFiles\${shortdate} CSVLog.csv" archiveAboveSize="50000000" archiveNumbering="Sequence" maxArchiveFiles="3">
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}"/>
        <column name="message" layout="${message}" />
        <column name="callsite" layout="${callsite}" />
        <column name="User" layout="${gdc:item=Author}" />
      </layout>
    </target>

    <!--store log for fdatabase (need to install sql client)-->
    <target name="logfileDB" xsi:type="Database"
            connectionString="Data Source=DESKTOP-C01O214\AKASHSQLEXPRESS;Initial Catalog=TestDB;Integrated Security=True;MultipleActiveResultSets=True"
            commandText="insert into dbo.LogTable (LogDate,[Level],Source,Text,[User])VALUES(@date,@level,@callsite,@exception,@user);">

      <parameter name="@date" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@exception" layout="${message}" />
      <parameter name="@user" layout="${gdc:item=Author}" />

    </target>

    <!--store log for console-->


    <target xsi:type="ColoredConsole" name="consoleTarget"  layout="${longdate} ${gdc:item=Author} ${uppercase:${level}} ${stacktrace} ${message} ${newline}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="consoleTarget" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
    <logger name="*" minlevel="Trace" writeTo="logfileCSV" />
    <logger name="*" minlevel="Trace" writeTo="logfileDB" />
  </rules>
</nlog>